*{
    margin: 0px;
    padding: 0px;
}



.custom_card{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 60px;
}

.cards{
    height: 400px;
    width: 300px;
    background-color:cadetblue ;
    border-radius: 10px;
    margin:20px;
    text-align: center;
    padding:10px;
    padding-top:40px;
    
  
}


.cards h1{
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin:10px;


   
}
.cards p{
    color:rgb(213, 211, 211);
    
}