
.header img {
    float: left;
    width: 100px;
    height: 100px;

  }
  
  .header h1 {
    text-align: center;
    top: 18px;
    left: 10px;
    background-color: aquamarine;
  }

h3{
text-align: center;
}

html{
height: 100%;
box-sizing: border-box;

}    

body{
position: relative;
margin: 0;
min-height: 100%;
padding-bottom: 6.74rem;
box-sizing: inherit;

}

footer{
background-color:#454545;
    font-size: 18px;
    padding: 35px;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    bottom:0


  
}

.pp{
text-align: center;
} 





 
