

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.cor{
        
float: left;
        
}	
header {
background-color: #333;
color: #fff;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 100%;
}

header h1 {
margin: 0;
}

.user-container {
display: flex;
align-items: center;

}

.user-greeting {
margin-right: 10px;
}

.logout-link,
.login-link {
color: #fff;
text-decoration: none;
border: 1px solid #fff;
padding: 5px 10px;
border-radius: 5px;
}

.logout-link:hover,
.login-link:hover {
background-color: #fff;
color: #333;
}
.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-icons i {
    font-size: 18px;
}

.footer-icons a:hover {
    color: #ccc;
}
.content-container {
    flex: 1;
    padding-bottom: 100px; /* Add space for the footer */
}
    h1 {
        margin: 20px 0;
        text-align: center;
    }

    .card {
margin: 20px;
}


.card {
margin: 20px;
}

.course-list {
display: flex;
flex-wrap: wrap;
list-style-type: none;
margin: 0;
padding: 0;
justify-content: center;
}

.course-item {
padding: 10px;
border: 1px solid #ccc;
margin: 10px;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: #f2f2f2;
}

.course-item:hover {
background-color: #e0e0e0;
}

.course-link {
text-decoration: none;
color: #333;
display: flex;
flex-direction: column;
align-items: center;
}

.course-info {
display: flex;
flex-direction: column;
align-items: center;
}

.course-image {
width: 200px;
height: auto;
margin-bottom: 10px;
}

.course-details {

margin-bottom: 10px;
}

.course-name {
font-weight: bold;
}

.view-button {
padding: 8px 16px;
background-color: #333;
color: #fff;
border: none;
cursor: pointer;
}

.view-button:hover {
background-color: #666;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
background-color: #333;
color: #fff;
border: none;
padding: 8px 16px;
border-radius: 5px;
cursor: pointer;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: #333;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #ccc;
}

.show {
display: block;
}
.objects{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
align-content: space-evenly;
border:  black 1px solid;

}
body {
overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
padding-left: 0;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
transition: all 0.6s ease;

}

#wrapper.toggled {
padding-left: 200px;
}

#sidebar-wrapper {
z-index: 1000;
position: fixed;
left: 250px;

width: 0;
height: 500px;
margin-left: -250px;
overflow-y: auto;
background-color:#312A25 !Important;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
width: 0;
}

#page-content-wrapper {
width: 100%;
position: absolute;
padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-left:-250px;
}

/* Sidebar Styles */

.sidebar-nav {
position: absolute;
top: 0;
right:15px;
width: 200px;
margin: 0;
padding: 0;
list-style: none;
z-index: -1;
}

.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}

.sidebar-nav li a {
display: block;
text-decoration: none;
color: #999999;
}

.sidebar-nav li a:hover {
text-decoration: none;
color: #fff;
background:#312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}

@media(min-width:768px) {
#wrapper {
    padding-left: 220px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 200px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 40px;
    
    
}

#wrapper.toggled span {
    visibility:hidden;
    
}
#wrapper.toggled   i {
float:right;
} 

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: fixed;
    margin-right: 0;
}
}


@media(max-width:414px) {

#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right:60px;
}

#wrapper.toggled {
padding-right: 60px;
}

#wrapper {
    padding-left: 20px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 50px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 140px;
    
    
}

#wrapper.toggled span {
    visibility:visible;
    position:relative;
    left:70px;
    bottom:13px;
    
}

#wrapper span {
    visibility:hidden;
    
}
#wrapper.toggled   i {
float:right;
} 

#wrapper   i {
float:right;
} 

#page-content-wrapper {
    padding: 5px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}




}
#submit-btn {
margin-bottom: 50px;
}
