<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete Challan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .challan-details {
            margin-bottom: 20px;
        }
        
        .button-container {
            text-align: center;
        }
        
        .confirm-button {
            background-color: #dc3545;
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
            margin-right: 10px;
        }
        
        .cancel-button {
            background-color: #007bff;
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
        }
    </style>
</head>
<body>

    
    <h1>Confirm Delete Challan</h1>
 
    <div class="challan-details">
        <h3>Are you sure you want to delete the following Challan?</h3>
        <p>Registration Number: {{ challan.user.username }}</p>
        <p>Place of Violation: {{ challan.place_of_violation }}</p>
        <p>Date: {{ challan.date }}</p>
        <p>Time: {{ challan.time }}</p>
        <p>Violation: {{ challan.violation }}</p>
    </div>
    
    <div class="button-container">
        <a href="{% url 'traffic:admin_delete_challan' challan.id %}" class="confirm-button">Delete</a>
        <a href="{% url 'traffic:admin_display_challans' %}" class="cancel-button">Cancel</a>
    </div>
</body>
</html>
