<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <style>

body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h2 {
            text-align: center;
            color: #333;
        }

      

        form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
        }

        select,
        input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            display: block;
            width: 100%;
            padding: 8px;
            background-color: red;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #222;
        }

        .messages {
            margin-top: 20px;
        }

        .error {
            color: red;
        }

        .success {
            color: green;
        }
    </style>

</head>
<body>

    {% include 'traffic/police_dashboard_2.html' %}

    {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <h3 style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
        {% endfor %}
        </div>
    {% endif %}
    <h2>Remove Users</h2>
    
    
    <form method="POST">
        {% csrf_token %}
        <label for="user_group">Select User Group:</label>
        <select name="user_group" id="user_group">
            <option value="Users">Users</option>
            <option value="Police">Police</option>
        </select>
        <br><br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br><br>
        <input type="submit" value="Remove User">
    </form>
    
    <form action="{% url 'traffic:admin_dashboard_content' %}">
        <button type="submit">Go to Home Page</button>
    </form>
</body>
</html> 







