<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report List</title>
    <style>
         body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        h3 {
            text-align: center;
            color: #333;
            font-size: 28px;
            margin: 20px 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            border-radius: 4px;
        }

        th, td {
            padding: 12px;
            text-align: left;
            font-weight: 500;
        }

        th {
            background-color: #333;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
        }

        td {
            font-size: 16px;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #e0e0e0;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #666;
        }

        
        .delete-button {
        text-decoration: none;
        background-color: #dc3545;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        }
    
        .delete-button:hover {
        background-color: #c82333;
        }

        .no-challans-message {
        text-align: center;
        margin-top: 20px;
        }

        .no-challans-message p {
        font-size: 24px;
        color: #999;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }



        

    </style>
</head>
<body>
    {% include 'traffic/police_dashboard_2.html' %}

    <h2>Report List</h2>
    {% if reports %}
    <table>
        <thead>
            <tr>
                <th>Registration Number</th>
                <th>Phone</th>
                <th>Complaint</th>
                
            </tr>
        </thead>
        <tbody>

            {% for report in reports %}
            <tr>
                <td>{{ report.registration_number }}</td>
                <td>{{ report.phone }}</td>
                <td>{{ report.compliant }}</td>
                <td>
               
                
                    <td><a href="{% url 'traffic:admin_confirm_delete_complaint' report.id %}" class="delete-button">Delete</a></td>
                </td>
    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="no-challans-message">
        <h5>No complains as of now!!!</h5>
    </div>    
    {% endif %}

    <form action="{% url 'traffic:admin_dashboard_content' %}">
        <button type="submit">Go to Home Page</button>
    </form>
    '
</body>
</html>
