<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h3 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px ;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        button {
            padding: 8px 12px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
        }

        button:hover {
            background-color: #333
        }
        /* Responsive Styles */
        @media screen and (max-width: 768px) {
            table {
                font-size: 14px;
            }

            th, td {
                padding: 8px;
            }

            button {
                font-size: 12px;
                padding: 6px 10px;
            }
        }


    </style>

</head>
<body>

    {% include 'traffic/police_dashboard_2.html' %}
    <h3>Users</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.last_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Police</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                
            </tr>
        </thead>
        <tbody>
            {% for po in police %}
                <tr>
                    <td>{{ po.username }}</td>
                    <td>{{ po.last_name}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>



</body>
</html>
