<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 20px;
    }
    
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #f5f5f5;
    }
    
    tr:hover {
        background-color: #f9f9f9;
    }
    
    .delete-button {
        text-decoration: none;
        background-color: #dc3545;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
    }
    
    .delete-button:hover {
        background-color: #c82333;
    }
</style>

</head>
<body>
 



    {% include 'traffic/police_dashboard_2.html' %}

    <form method="post" >
    {% csrf_token %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Place of Violation</th>
            <th>Date</th>
            <th>Time</th>
            <th>Violation</th>
            
        </tr>
        </thead>
        <tbody>
        {% for challan in challans %}
            <tr>
            <td>{{ challan.user.username }}</td>
            <td>{{ challan.place_of_violation }}</td>
            <td>{{ challan.date }}</td>
            <td>{{ challan.time }}</td>
            <td>{{ challan.violation }}</td>
            <td>
               
                
                <td><a href="{% url 'traffic:confirm_delete_challan' challan.id %}" class="delete-button">Delete</a></td>
            </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </form>



        <form action="{% url 'traffic:police_dashboard_content' %}">
            <button type="submit">Go to Home Page</button>
        </form>


   
</body>
</html>     


