<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challan View</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'traffic/traffic_rules.css'%}">
    <style>
        /* CSS styles for table */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        h3 {
            color: #333;
            font-size: 28px;
            margin: 20px 0;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
 #logout-report-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-between; /* Added to separate buttons with space */
        max-width: 600px; /* Adjust the value based on your layout */
        margin: 0 auto; /* Centers the container horizontally */
    }

    #logout-button,
    #report-button
    
    {
        padding: 10px 20px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin: 0 10px;
    }

    #pay-button{
        padding: 10px 20px;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin: 0 10px;
    }


    #logout-button {
        background-color: #ff0000;
    }

    #report-button {
        background-color: #0000ff;
    }

    #pay-button{
        background-color:greenyellow
    }


    #logout-button:hover,
    #report-button:hover,
    #pay-button

     {
        opacity: 0.8;
    }
    
    
    .no-challans-message {
    text-align: center;
    margin-top: 20px;
    }

    .no-challans-message p {
    font-size: 24px;
    color: #999;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    

</style>

</head>
<body>
{% load static %}    
{% include 'traffic/user_dashboard.html' %}

<div>
    <h3>Challans</h3>
    <br><br>

    {% if challans %}
    <form id="pay-form" method="POST" >
        {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Phone</th>
                <th>Place of Violation</th>
                <th>Date</th>
                <th>Time</th>
                <th>Fine Amount</th>
                <th>Violation Type</th>
                <th>Pay</th>
                
            </tr>
        </thead>
        <tbody>
            {% for challan in challans %}
            <tr>
                <td>{{ challan.user.first_name }}</td>
                <td>{{ challan.user.username }}</td>
                <td>{{ challan.user.last_name }}</td>
                <td>{{ challan.place_of_violation }}</td>
                <td>{{ challan.date }}</td>
                <td>{{ challan.time }}</td>
                <td>{{ challan.fine_amount }}</td>
                <td>{{ challan.violation }}</td>
                <td><input type="checkbox" name="challan_ids" value="{{ challan.id }}"></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="pay-button"  style="margin-left: 350px;">Pay</button>
    </form>
    {% else %}
    <div class="no-challans-message">
        <h5>No challans registered with your registration number</h5>
    </div>    
    {% endif %}
</div>

<div>
    <button id="logout-button" style="margin-top: 162px;">Logout</button>
    
    <button id="report-button" style="margin-left: 450px;">Report</button>
</div>

<script>
    // JavaScript code for table sorting
    const table = document.getElementById("challan-table");
    const headers = table.querySelectorAll("th");
    headers.forEach((header, index) => {
        header.addEventListener("click", () => {
            sortTable(index);
        });
    });

    function sortTable(columnIndex) {
        const rows = Array.from(table.querySelectorAll("tbody tr"));

        rows.sort((a, b) => {
            const cellA = a.querySelectorAll("td")[columnIndex].innerText;
            const cellB = b.querySelectorAll("td")[columnIndex].innerText;
            return cellA.localeCompare(cellB, undefined, { numeric: true, sensitivity: 'base' });
        });

        table.querySelector("tbody").innerHTML = "";
        rows.forEach((row) => {
            table.querySelector("tbody").appendChild(row);
        });
    }


</script>

<script>
    const logoutButton = document.getElementById("logout-button");
    logoutButton.addEventListener("click", () => {
        window.location.href = "http://127.0.0.1:8000/challan/user_login/";
    });

    const reportButton = document.getElementById("report-button");
    reportButton.addEventListener("click", () => {
        window.location.href = "http://127.0.0.1:8000/challan/report/";
    });


    const payButton = document.getElementById("pay-button");
    payButton.addEventListener("click", () => {
        window.location.href = "http://127.0.0.1:8000/challan/pay_challans/";
    });
</script>


<script>
    const payForm = document.getElementById("pay-form");
    const payButtun = document.getElementById("pay-button");

    payButtun.addEventListener("click", (event) => {
        const checkedCheckboxes = payForm.querySelectorAll('input[name="challan_ids"]:checked');
        if (checkedCheckboxes.length === 0) {
            event.preventDefault(); // Prevent form submission
            alert("Please click on at least one challan for payment");
        }
    });
</script>

</body>
</html>
