<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flamboyant Page</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 28px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        textarea {
            height: 100px;
        }

        .submit-button {
            background-color: #ff5722;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: #ff784e;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Flamboyant Page</h1>
        <form method="POST" action="{% url 'complaints' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="registration-number">Registration Number:</label>
                <input type="text" id="registration-number" name="registration_number" required>
            </div>
            <div class="form-group">
                <label for="phone-number">Phone Number:</label>
                <input type="text" id="phone-number" name="phone" required>
            </div>
            <div class="form-group">
                <label for="complaint">Complaint:</label>
                <textarea id="complaint" name="complaint" required></textarea>
            </div>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
