<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete Challan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .complaint-details {
            margin-bottom: 20px;
        }
        
        .button-container {
            text-align: center;
        }
        
        .confirm-button {
            background-color: #dc3545;
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
            margin-right: 10px;
        }
        
        .cancel-button {
            background-color: #007bff;
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
        }
    </style>
</head>
<body>

    
    <h1>Confirm Delete Complaint</h1>
 
    <div class="complaint-details">
        <h3>Are you sure you want to delete the following Complaint?</h3>
        <p>Registration Number: {{ report.registration_number }}</p>
        <p>Phone: {{ report.phone }}</p>
        <p>Complaint:{{ report.compliant }}</p>
        
    
    <div class="button-container">
        <a href="{% url 'traffic:delete_complaint' report.id %}" class="confirm-button">Delete</a>
        <a href="{% url 'traffic:report_list' %}" class="cancel-button">Cancel</a>
    </div>
</body>
</html>
