<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'traffic/contactus.css'%}">
</head>
<body>
    {% include 'traffic/navbar.html'%}
    {% block content %}
    <section class="custom_card">
        <div class="cards">
            <h2>Hyderabad Police Commissionerate</h2>
            <br>
            <p>Hyderguda-Basheerbagh Rd,
                <br>
                Avanti Nagar, Basheer Bagh,
                <br>
                Hyderabad, Telangana 500029.
                <br>
                Ph. No : 040-27852721, 040-27852772
                <br>
                Email : echallanhelpdesk.hyd@gmail.com
            </p>
            <br>
        </div>    
        
        <div class="cards">  
            <h2>Cyberabad Police Commissionerate</h2>
            <br>
    
            <p>Next to Care Hospital, 2-48/P/21,
                <br>
                Old Mumbai Hwy, Sri Shyam Nagar,
                <br>
                Telecom Nagar Extension, Gachibowli,
                <br>
                Hyderabad, Telangana 500032.
                <br>
                Ph. No : 040-27853416
                <br>
                Email : echallancybhelpdesk@gmail.com
                <br>
            </p>
            
        </div>      
     
        <div class="cards">
            <h2>Rachakonda Police Commissionerate</h2>
            <br>
        <p>Rock Town Colony, Alkapuri,
            <br>
            (In the premises of Rachakonda CP Camp Office at LB Nagar),
            <br>
            Ranga Reddy District, Telangana State, GSI Post- 500069.
            <br>
            Ph. No : 040-2785 3000
            <br>
            Email : echallanrckhelpdesk@gmail.com
            <br>
        
        </p>
        </div>

    </section>    
    {% endblock %}
    
</body>
</html>