<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ's</title>
    <style>
        /* CSS styles for FAQ page */
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #F6F6F6;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            font-size: 36px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        h4 {
            margin-top: 30px;
            cursor: pointer;
            color: #333;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            transition: color 0.2s ease;
        }

        h4:hover {
            color: #FF6F61;
        }

        p {
            margin-bottom: 20px;
            color: #555;
            font-size: 18px;
            line-height: 1.5;
        }

        .content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease;
        }

        .active {
            color: #FF6F61;
        }

        /* Additional Styles for Appeal */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #FFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .faq-section {
            margin-bottom: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid #EEE;
        }
    </style>
     
</head>
<body>
    {% include 'traffic/navbar.html'%}
    <br><br>
    <h2>FAQ's</h2>
    <h4>What happens if challan is not paid in Telangana?</h4>
    <p> For anyone who fails to pay the fine: they will be visited by a Hyderabad Traffic Police Officer at their home address to collect the fine. If the fine is not collected from the offender's home, they will be summoned to court. In case the offender does not appear in court, their license will be suspended</p>
    <br>

    <br>
    <h4>How many challans are allowed in one day in Telangana?</h4>
    <p>What is the maximum number of pending traffic challans allowed in Hyderabad? The maximum number of pending traffic challans allowed in Hyderabad is 10. If a person has more than 10 pending challans, then such a person can be jailed for a day</p>
    <br>
    <br>
    <h4>How many challans are allowed in one day in India?</h4>
    <p> Section 115 of the Motor Vehicles Act, 1988, empowers traffic police and transport department to restrict the plying of a specified class of vehicles in certain areas in public interest.</p>
    <br>
    <br>
    <h4>Can the traffic police fine you two times in a day for the same reason in India?</h4>
    <p>No person can be fined twice for the same offence unless the offence in question is overspeeding. However, if the offender has lost the receipt of the earlier fine and if he is driving the vehicle in another state, he will have to pay the fine again.</p>
    <br>
    <br>
    <h4>How do I complain about echallan in TS?</h4>
    <p>Visit the TS Police e-challan web portal. Enter your vehicle number and the security code. Select the e-challan for which you want to file a complaint. Click on 'Report to Wrong'.</p>
    <br>
    <br>
    <h4>What is the fine for free left in Telangana?</h4>
    <p>A penalty of Rs. 1000 will be enforced on violators in order to further enhance traffic flow, particularly at the Free Left Turns. Hyderabad traffic police have instructed all motorists to cooperate and stop before the stop line when the traffic light turns orange-red.</p>
    <br>
    <br>
    <h4>What is the fine for overspeed in Telangana?</h4>
    <p>To drive a vehicle dangerously at high speed, rash & negligent driving. Rs. 1000/- for two, three, four & Six wheelers</p>
    <br>
    <br>
    <h4>What is penalty points in Telangana?</h4>
    <p>Any person who exceeds 12 points in two years will have their driving licence suspended for a minimum of 1 year. For owner-drivers who violate traffic rules often, the government has decided to suspend or cancel their driving licence for up to 2 years.</p>
    <br>
    <br>
    <h4>Is pillion helmet compulsory in Hyderabad?</h4>
    <p>Never ride a two-wheeler without a helmet; the rider and pillion rider needs to wear protective headgear. It is a critical rule for two-wheeler users as it is related to safety.</p>
    <br>
    <br>
    <h4>How can I pay traffic fine in Telangana?</h4>
    <p>1.Enter Telangana e-Challan as the traffic authority.
    <p>2.Enter vehicle number. </p>
    <p>3.Check your vehicle and challan details. </p>
    <p>4.Choose payment method of your preference i.e. Debit/Credit Card, Net banking or Paytm Wallet.</p>
    <br>
    <br>
    <h4>Can I drive other state vehicle in Hyderabad?</h4>
    <p>The application for re- registration and to obtain a new vehicle number is to be made in Form 27 along with a No Objection Certificate (NOC) obtained from the RTO where the vehicle was previously registered. A vehicle can be used in any other state without re-registration for a maximum period of 12 months.</p>
    <br>
    <br>
    <h4>How do I report rash driving in Telangana?</h4>
    <p>Whenever you come across rash driving by TSSRTC, note the number and register a complaint with TSRTC at there toll free number 1800 200 4599, call centre no : 040 30102829</p>
    <br>
    <br>
    <h4>What is green tax in Telangana?</h4>
    <p>Owners of bikes and cars older than 15 years have to pay an annual Green Tax of Rs 1,000 and Rs 5,000, respectively. Transport vehicles, on the other hand, have to pay a Green Tax of Rs 7,000 annually after they are more than 7 years old.</p>
    <br>
    <br>
    <h4>What is the minimum alcohol for driving in Telangana?</h4>
    <p>Drunk driving is an offence U/s 185 M.V. Act. (b) Permissible alcohol limit is upto and below 30 mg/100 ml of blood i.e., 30 micrograms/100 ml of blood. Anything above that, as recorded by a Breath Analyzer is a violation.</p>
    <br>
    <br>
    <h4>What is the rule for 15 years vehicle in Telangana?</h4>
    <p>According to the proposal, personal vehicles will be charged Green Tax at the time of renewal of Registration Certification after 15 years while transport vehicles older than eight years could be charged at the time of renewal of fitness certificate, at the rate of 10 to 25 per cent of road tax</p>
    <br>
    <br>

    <script>
      
        window.addEventListener('DOMContentLoaded', (event) => {
            const faqSections = document.querySelectorAll('h4');

            faqSections.forEach((section) => {
                section.addEventListener('click', () => {
                    section.classList.toggle('active');
                    const content = section.nextElementSibling;
                    if (section.classList.contains('active')) {
                        content.style.maxHeight = content.scrollHeight + 'px';
                    } else {
                        content.style.maxHeight = '0';
                    }
                });
            });
        });
    </script>
</body>
</html>








    
    </script>



</body>
</html>
