<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
    /* CSS Styling */
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
    }

    h2 {
        color: #333;
        text-align: center;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 10px;
        color: #333;
    }

    input[type="text"],
    input[type="date"],
    input[type="time"],
    input[type="number"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
  {% load static %}
 
  <link rel="stylesheet" href="{% static 'traffic/generate.css'%}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body>
    {% include 'traffic/police_dashboard_2.html' %}
    
  
      
      
  
      <!-- Page Content -->
      <div>
        <h2>Generate Challan</h2>
        <br><br>

        
			{% if messages %}
				<div class="messages">
					{% for message in messages %}
					<h3 style="color:lightgreen;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6>
					{% endfor %}
				</div>
					{% endif %}
  
      <form method="POST">
        {% csrf_token %}
        
        
        <div class="form-group">
            <label for="user">Registration Number:</label>
            <select name="user" id="user">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select><br>
        </div>

        
        <div class="form-group">
            <label for="place_of_violation">Place of Violation:</label>
            <input type="text" name="place_of_violation" id="place_of_violation" required><br>
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" required><br>
        </div>

        <div class="form-group">
            <label for="time">Time:</label>
            <input type="time" name="time" id="time" required><br>
        </div>  

        <div class="form-group">
        <label for="fine_amount">Fine Amount:</label>
        <input type="number" name="fine_amount" id="fine_amount" required><br>
        </div>
        
        <div class="form-group">
            <label for="violation_type">Violation Type:
            <select name="violation_type" id="violation_type">
            <option value="Wrong Route">Wrong Route</option>
            <option value="Drunk and Drive">Drunk and Drive</option>
            <option value="No helmet">No helmet</option>
            <option value="Parked at No parking">Parked at No parking</option>
            <option value="Overspeed">Overspeed</option>
            <option value="Signal Jump">Signal Jump</option>
            </label>
        </select><br>
        </div>

        

        <br>
        
        <button type="submit">Generate Challan</button>

       
    </form>
    </div>

    <form action="{% url 'traffic:police_dashboard_content' %}">
        <button type="submit">Go to Home Page</button>
    </form>

            
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>	
  </div>
</div>


<script>
  function toggleDropdown() {
    var dropdownContent = document.getElementById("dropdown-content");
    dropdownContent.classList.toggle("show");
  }
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  
</script>

</body>
</html>