<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Violations by Location</title>
    
    
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        h3 {
            text-align: center;
            color: #333;
            font-size: 28px;
            margin: 20px 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            border-radius: 4px;
        }

        th, td {
            padding: 12px;
            text-align: left;
            font-weight: 500;
        }

        th {
            background-color: #333;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
        }

        td {
            font-size: 16px;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #e0e0e0;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #666;
        }

        #logout-button {
        padding: 10px 20px;
        background-color: #ff0000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }

    #logout-button:hover {
        background-color: #cc0000;
    }
    </style>
</head>
<body>
    {% load static %}
    {% include 'traffic/police_dashboard_2.html' %}
    <h3>Most Frequent Traffic Violations by Location</h3>
    <br><br>
    <table>
        <thead>
            <tr>
                
                <th>Location</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for violation in violations %}
                <tr>
                    
                    <td>{{ violation.place_of_violation }}</td>
                    <td>{{ violation.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<br>
<br>

<h3>Most Frequent Traffic Violations by Type of Violation</h3>
<table>

    <table>
        <thead>
            <tr>
                <th>Violation Type</th>
                
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for v in vio %}
                <tr>
                    <td>{{ v.violation }}</td>
                    
                    <td>{{ v.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <button id="logout-button">Logout</button>
    </div>

   

    <script>
        const logoutButton = document.getElementById("logout-button");
    
        logoutButton.addEventListener("click", () => {
            window.location.href = "http://127.0.0.1:8000/challan/police_login";
        });
    
    </script>
</body>
</html>
