<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
 
 

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color:#f8f9fa;
      margin: 0;
      padding: 0;
    }

    .header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

    .header h1 {
      margin: 0;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .header img {
      max-width: 200px;
      margin-top: 10px;
    }

    h3 {
      text-align: center;
      margin-top: 30px;
      color: #333;
    }

    .navbar {
      background-color: #fff;
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .navbar a:hover {
            text-decoration: underline;
      }

    .navbar a {
      color: #333;
      text-decoration: none;
      margin: 0 10px;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    .navbar a:hover {
      color: #ff6b6b;
    }
  </style>
</head>
  <body>
    {% load static %}
  <div class="header">
  <h1>Telangana Traffic Police</h1>
  <img src="{% static 'traffic/photos/2.png'%}" alt="Logo">
  
</div>
<h3>E Challan Portal</h3>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/challan/home">Home <span class="sr-only">(current)</span></a>

        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/challan/contact">Contact US</a> <span class="sr-only">(current)</span></a>

        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/challan/police_login">Police Login</a> <span class="sr-only">(current)</span></a>
            
              
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/challan/user_login/">User Login</a> <span class="sr-only">(current)</span></a>
                
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/challan/faq/">FAQ's</a> <span class="sr-only">(current)</span></a>

                  

        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/challan/register">Register</a> <span class="sr-only">(current)</span></a>

                    
          
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/challan/rules">Traffic Rules</a> <span class="sr-only">(current)</span></a>


        
                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                      
        
                        
                        
        </li>
        </ul>

    
          
  </nav>

 
  </body>
  </html>


