<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Summary</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h3 {
            margin-top: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .no-challans-message {
            margin-top: 20px;
            text-align: center;
        }

       

        #rzp-button1 {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #3399cc;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h3>Payment Summary</h3>
    <br><br>

    {% if challans %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Phone</th>
                <th>Place of Violation</th>
                <th>Date</th>
                <th>Time</th>
                <th>Fine Amount</th>
                <th>Violation Type</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for challan in challans %}
            <tr>
                <td>{{ challan.user.first_name }}</td>
                <td>{{ challan.user.username }}</td>
                <td>{{ challan.user.last_name }}</td>
                <td>{{ challan.place_of_violation }}</td>
                <td>{{ challan.date }}</td>
                <td>{{ challan.time }}</td>
                <td>{{ challan.fine_amount }}</td>
                <td>{{ challan.violation }}</td>
                
               
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Total Amount: {{ total_amount }}</h4>
    
    

    {% else %}
    <div class="no-challans-message">
        <h5>No challans selected for payment</h5>
    </div>
    {% endif %}


    <button id="rzp-button1">Pay</button>


     

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_rvLIJv4Y9azQt8", // Enter the Key ID generated from the Dashboard
    "amount": "{{total_amount_paise }} ", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Telangana Traffic Challan", //your business name
    "description": "Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com", 
        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>






</body>
</html>
