<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challan List</title>
  
  <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
    }

    h1 {
      text-align: center;
      color:white;
      font-size: 36px;
      margin: 40px 0;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }


    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 40px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      border-radius: 4px;
    }

    th, td {
      padding: 16px;
      text-align: left;
      font-weight: 500;
    }

    th {
      background-color: #333;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
    }

    td {
      font-size: 16px;
      border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #e0e0e0;
    }

    a {
      color: #333;
      text-decoration: none;
    }

    a:hover {
      color: #666;

    }

    #logout-button {
        padding: 10px 20px;
        background-color: #ff0000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }

    #logout-button:hover {
        background-color: #cc0000;
    }
</style>    
  

</head>
<body>
    {% include 'traffic/police_dashboard_2.html' %}
  
  <table>
    <thead>
      <tr>
        <th>Registration Number</th>
        <th>Place of Violation</th>
        <th>Date</th>
        <th>Time</th>
        <th>Violation</th>
        <th>Fine Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for challan in challans %}
      <tr>
        <td>{{ challan.user.username }}</td>
        <td>{{ challan.place_of_violation }}</td>
        <td>{{ challan.date }}</td>
        <td>{{ challan.time }}</td>
        <td>{{ challan.get_violation_display }}</td>
        <td>{{ challan.fine_amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <button id="logout-button">Logout</button>
</div>

<script>
    const logoutButton = document.getElementById("logout-button");

    logoutButton.addEventListener("click", () => {
        window.location.href = "http://127.0.0.1:8000/challan/police_login";
    });
</script>    
</body>
</html>
