<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'traffic/police_dashboard_content.css'%}"> -->
    <style>
    .objects {
    margin-bottom: 35px;
    border-radius: 5px;
    background-color: #ebebeb;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
    }

    .objects:hover {
        background-color: lavender;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .objects h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .objects p {
        font-size: 15px;
        color: #666;
        margin-bottom: 5px;
        line-height: 1.4;
    }

    .objects a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .objects a:hover {
        text-decoration: underline;
        color: #555;
    }

    .objects ul {
        list-style: none;
        padding-left: 0;
        margin-left: 20px;
    }

    .objects li {
        font-size: 20px;
        color: #999;
        margin-bottom: 10px;
        font-size: 18px;
    }

    /* Additional Styles */

    #page-content-wrapper {
        padding: 20px;
        background-color: #f5f5f5;
        margin-top: 20px;
        border-radius: 5px;
    }

    .container-fluid {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    @media (max-width: 991px) {
        .col-lg-9 {
            flex: 0 0 100%;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 20px;
        }
    }


    </style>
</head>
<body>
    {% include 'traffic/police_dashboard_2.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="objects">
                        <h2>Generate Challan</h2>
                        <p><a href="{% url 'traffic:generate' %}">Generate challan</a></p>
                    </div>
                    <div class="objects">
                        <h2>Report of Pending Challans</h2>
                        <p><a href="{% url 'traffic:pending_challan' %}">Report of Pending challans</a></p>
                   
                    </div>
                    <div class="objects">
                        <h2>Most Violations</h2>
                        <p><a href="{% url 'traffic:violation' %}">Most Violations</a></p>
                    </div>

                    <div class="objects">
                        <h2>Report List</h2>
                        <p><a href="{% url 'traffic:report_list' %}">Complaints</a></p>
                    </div>

                    <div class="objects">
                        <h2>Challan Cancellation</h2>
                        <p><a href="{% url 'traffic:display_challans' %}">Cancel Challan</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>	
</body>   
</html>