<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Police Registration</title>
</head>
<body>
	{% load static %}
    {% include 'traffic/navbar.html' %}
    <br><br>
	



<section class="vh-100" style="background-color: #eee;">
	<div class="container h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-lg-12 col-xl-11">
		  <div class="card text-black" style="border-radius: 25px;">
			<div class="card-body p-md-5">
			  <div class="row justify-content-center">
				<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
				  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Police Registeration</p>
				  {% if messages %}
					<div class="messages">
					{% for message in messages %}
					<h6 style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6>
					{% endfor %}
					</div>
					{% endif %}
  
				  <form class="mx-1 mx-md-4" method="POST">
					{% csrf_token %}
  
					<div class="d-flex flex-row align-items-center mb-4">
					  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
					  <div class="form-outline flex-fill mb-0">
						<input type="text" name="name" id="form3Example1c" class="form-control" placeholder="Your Name" />
						<label class="form-label"  for="form3Example1c" ></label>
					  </div>
					</div>
					

					<div class="d-flex flex-row align-items-center mb-4">
						<i class="fa-solid fa-phone"></i>
						<div class="form-outline flex-fill mb-0">
						  <input type="number" name="phone_no" id="form3Example1c" class="form-control" placeholder="Phone Number" />
						  <label class="form-label"  for="form3Example1c" ></label>
						</div>
					  </div>
  
					<div class="d-flex flex-row align-items-center mb-4">
					  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
					  <div class="form-outline flex-fill mb-0">
						<input type="password" name="password" id="form3Example4c" class="form-control" placeholder="Password" />
						<label class="form-label"  for="form3Example4c" ></label>
					  </div>
					</div>
  
					<div class="d-flex flex-row align-items-center mb-4">
					  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
					  <div class="form-outline flex-fill mb-0">
						<input type="password" name="confirm_password"  id="form3Example4cd" class="form-control" placeholder="Repeat your Password" />
						<label class="form-label"for="form3Example4cd" ></label>
					  </div>
					</div>
				
  
					<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
					  <button type="submit" class="btn btn-primary btn-lg">Register</button>
					</div>
					<p class="small fw-bold mt-2 pt-1 mb-0">Are you a User? <a href="http://127.0.0.1:8000/challan/register"
						class="link-danger">User Register</a></p>
  
				  </form>
				  
  
				</div>
				<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
				  <img src="{% static 'traffic/photos/3.jpg' %}"
					class="img-fluid" alt="Sample image">
					
  
				</div>
               
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
