<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Rules</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            color: #555;
            font-weight: bold;
        }

        h1 {
            text-align: center;
            margin-top: 40px;
            color:white;
            text-transform: uppercase;
        }

        h3 {
            margin-top: 20px;
            color: #333;
        }

        .navbar {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        .navbar a:hover {
            text-decoration: underline;
        }

        .info {
            color: #777;
            margin-bottom: 20px;
        }
    </style>
    
</head>
<body>
    {% include 'traffic/navbar.html' %}

    <h3>
        OFFENCE RELATED TO DOCUMENTS</h3>
    <table>
        <thead>
            <tr>
                <th>Offences</th>
                <th>Section</th>
                <th>Maximum Penality</th>
    

            </tr>

        </thead>
        <tbody>
            
                <tr>
                    <td>To drive a vehicle without license</td>
                    <td>M.V.Act. 181</td>
                    <td>Rs. 500/- for two, three, four & Six wheelers.</td>
                   
                    

                </tr>



                
                <tr>
                    <td>Driving a vehicle without registration</td>
                    <td>M.V.Act.192 (1)</td>
                    <td>s. 2000/- for two, three, four & Six wheelers.</td>
                   
                    

                </tr>


                <tr>
                    <td>Driving a vehicle without permit</td>
                    <td>M.V.Act. 192 (A)</td>
                    <td>Court or RTA</td>
                   
                    

                </tr>


                
                <tr>
                    <td>Driving a vehicle without insurance</td>
                    <td>M.V.Act.196</td>
                    <td>Rs. 1000/- for two, three, four & Six wheelers</td>
                   
                    

                </tr>

                <tr>
                    <td>Driving vehicle at less than prescribed age</td>
                    <td>M.V.Act.181</td>
                    <td>Rs. 500/- for two, three, four & Six wheelers.</td>
                   
                    

                </tr>
        </tbody>
        </table>
        <br><br>
    

                
               
                <table>
                    <br>
                    <h3>OFFENCES RELATED TO DRIVING</h3>
                    <thead>
                        <tr>
                            <th>Offences</th>
                            <th>Section</th>
                            <th>Maximum Penality</th>
                
            
                        </tr>
            
                    </thead>

                    <tbody>
            
                        <tr>
                            <td>Violation of No entry</td>
                            <td>Sec 177 of M.V.Act.</td>
                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>Violation of One way</td>
                            <td>Sec 177 of M.V.Act.</td>
                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>Violation of U Turn</td>
                            <td>Sec 177 of M.V.Act.</td>
                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>Offences pertaining to Violation of prohibited area</td>
                            <td>Sec 177 of M.V.Act.</td>
                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>Violation of Rules duly promulgated</td>
                            <td>Sec 177 of M.V.Act.</td>
                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>To drive a vehicle dangerously at high speed, rash & negligent driving.</td>
                            <td>M.V.Act 184 (b).</td>
                            <td>Rs. 1000/- for two, three, four & Six wheelers.</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>To drive a vehicle dangerously posing a threat to lives of other people.</td>
                            <td>M.V.Act 184 (b).</td>
                            <td>Rs. 1000/- for two, three, four & Six wheelers.</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>To drive a vehicle dangerously posing a threat to lives of other people.</td>
                            <td>279 IPC</td>
                            <td>Court</td>
                           
                            
        
                        </tr>

                        <tr>
                            <td>To travel on footboard.</td>
                            <td>M.V.Act 123(ii)</td>
                            <td>RTC Mobile Court OR RTA, fine from Rs. 50/- to Rs. 200</td>
                           
                        </tr>

                        <tr>
                            <td>Vehicle driven by mentally and physicall challenged people.</td>
                            <td>M.V.Act 186	</td>
                            <td>Rs. 200/-</td>

                           
                        </tr>

                         <tr>
                            <td>To run away after committing an accident</td>
                            <td>M.V.Act 187	</td>
                            <td>Court</td>

                           
                        </tr>


                          <tr>
                            <td>To drive and use an unsafe vehicle</td>
                            <td>M.V.Act 190(i)</td>
                            <td>Court</td>

                           
                        </tr>

                        <tr>
                            <td>To pose a hazard to traffic by using dilapidated vehicles.</td>
                            <td>41(i) Hyderabad City Police Act</td>
                            <td>Traffic crane lifting charges for two/three wheelers Rs. 150/-, four wheeler Rs. 200/- and Six wheelers Rs. 300/- to 600/-</td>

                           
                        </tr>

                        
                        <tr>
                            <td>Regarding wearing of helmet</td>
                            <td>M.V.Act 129/177</td>
                            <td>Rs. 200/-</td>
                            

                           
                        </tr>
                        
                        <tr>
                            <td>To drive overweight vehicle</td>
                            <td>M.V.Act. 194</td>
                            <td>Collecting by RTA@ Rs. 1000/- per ton or court.</td>
                             
                        </tr>

                        <tr>
                            <td>To take away vehicle without permission</td>
                            <td>M.V.Act 197</td>
                            <td>RTO takes action on permit condition (check report)</td>
                             
                        </tr>

                        <tr>
                            <td>Unauthorized interference regarding motor vehicle</td>
                            <td>M.V.Act 198</td>
                            <td>Rs. 100/- by RTA.</td>
                           
                             
                        </tr>

                        <tr>
                            <td>Unauthorized interference regarding motor vehicle</td>
                            <td>M.V.Act 198</td>
                            <td>Rs. 100/- by RTA.</td>
                           
                             
                        </tr>
                        
                        <tr>
                            <td>To allow/permit an unauthorized person to drive a vehicle</td>
                            <td>M.V.Act 180</td>
                            <td>Rs. 1000/- for two, three, four & Six wheelers.</td>
                           
                             
                        </tr>

                        <tr>
                            <td>Wrong side  Driving</td>
                            <td>M.V.Act 119/177</td>
                            <td>Rs. 1100/- for two, three, four & Six wheelers.</td>
                           
                             
                        </tr>

                        <tr>
                            <td>Triple Riding on Motor Cycle/ Bike</td>
                            <td>M.V.Act 128/177, 184</td>
                            <td>Rs. 1200/- </td>
                           
                             
                        </tr>
                    </tbody> 
                </table>
                <br><br>
                    
                

                    

                        <table>
                            <br>
                            <h3>ROAD MARKING RELATED OFFENCES</h3>
                            <thead>
                                <tr>
                                    <th>Offences</th>
                                    <th>Section</th>
                                    <th>Maximum Penality</th>
                        
                    
                                </tr>
                    
                            </thead>

                            <tbody>
            
                                <tr>
                                    <td>Violation of stop line</td>
                                    <td>Sec 177 of M.V.Act</td>
                                    <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                    
                                </tr>

                                <tr>
                                    <td>Violation of lane</td>
                                    <td>Sec 177 of M.V.Act</td>
                                    <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                    
                                    
                                </tr>
                            </tbody> 
                        </table>  
                        <br><br>  
                            
                            

                               

                               <table>
                                <br>
                                <h3>NUMBER PLATE RELATED OFFENCES</h3>
                                <thead>
                                    <br>
                                    <tr>
                                        <th>Offences</th>
                                        <th>Section</th>
                                        <th>Maximum Penality</th>
                            
                        
                                    </tr>
                        
                                </thead>
    
                                <tbody>

                                    <tr>
                                        <td>Irregular Number plate</td>
                                        <td>Sec 80(a) of M.V.Act</td>
                                        <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                        
                                        
                                    </tr>
                                </tbody>
                               </table>
                               <br><br>
                                
                            
                               

                                <table>
                                    <br>
                                    <h3>TRAFFIC POLICE RELATED OFFENCES</h3>
                                    <thead>
                                        <tr>
                                            <th>Offences</th>
                                            <th>Section</th>
                                            <th>Maximum Penality</th>
                                
                            
                                        </tr>
                            
                                    </thead>
                                    
                
                                <tbody>

                                        <tr>
                                            <td>Disobeying traffic Police Officer in Uniform</td>
                                            <td>Sec 132 of M.V.Act</td>
                                            <td>Rs. 200/- for two, three, four & Six wheelers</td>


                                        </tr>
                                    </tbody> 

                                </table>    
                                    
                                    <table>
                                        <br><br>
                                        
                                        
                                            <h3>TRAFFIC SINGAL RELATED OFFENCES</h3>
                                            <thead>
                                            <tr>

                                                <th>Offences</th>
                                                <th>Section</th>
                                                <th>Maximum Penality</th>
                                    
                                
                                            </tr>
                                        </thead>
                    
                    
                    
                                        <tbody>
                                
                                            <tr>
                                                <td>Violation of Signal Jumping</td>
                                                <td>Sec 184 of M.V.Act</td>
                                                <td>Rs. 1000/-  for two/three wheelers and four/six wheelers</td>
                                               
                                                
                            
                                </tr>
                    
                                            <tr>
                                                <td>General Provision for punishment of  offences</td>
                                                <td>Sec 177 of M.V.Act</td>
                                                <td>Rs. 100 to Rs. 200/- for two/three wheelers. Rs. 200/- for four/six wheelers.</td>
                                               
                                                
                            
                                </tr>
                    
                                            <tr>
                                                <td>Violation of Non-Stopping on Police Signal</td>
                                                <td>Sec 177 of M.V.Act</td>
                                                <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                               
                                                
                            
                                </tr>
                                    </tbody>
                                    </table>
                                    <br><br>

                                    <table>
                                    <h3>SPEED AND OVERTAKE RELATED OFFENCES</h3>
                                        <thead>
                                            <tr>
                                                <th>Offences</th>
                                                <th>Section</th>
                                                <th>Maximum Penality</th>
                    
                    
                                            </tr>
                                        </thead>
                                        <tbody>
                                
                                            <tr>
                                                <td>Using mobile while driving a vehicle</td>
                                                <td>M.V.Act 184(a)</td>
                                                <td>Rs. 1000/- for any vehicle.</td>
                                               
                                                
                            
                                </tr>
                    
                                            <tr>
                                                        
                                                <td>Drive vehicle after consuming intoxicants/subtances (narco-drugs) etc.</td>
                                                <td>M.V.Act 185</td>
                                                <td>Court.</td>
                                               
                                                
                            
                                </tr>
                                        
                                            <tr>
                                                <td> To commit offences pertaining to licences.</td>
                                                <td>M.V.Act 182</td>
                                                <td>Court.</td>
                                               
                                                
                            
                                </tr>
                                            
                                            
                                            <tr>
                                                <td> To commit offences pertaining to licences.</td>
                                                <td>M.V.Act 182</td>
                                                <td>Court.</td>
                                                   
                                            
                                            
                                            </tr>
                    
                    
                                            <tr>
                                               
                                                <td> Punishment imposed for committing offence related to accident.</td>
                                                <td>M.V.Act 187</td>
                                                <td>Court.</td>
                                            
                                            
                                            </tr>
                    
                                            <tr>
                                                    
                                               
                                                <td>Over Speeding</td>
                                                <td>M.V.Act 183, 184</td>
                                                <td>Rs. 1400/- for any vehicle.</td>
                                            
                                            
                                            </tr>
                        
                                            <tr>
                                                                            
                                                                    
                                                <td>Dangerous Driving to accident.</td>
                                                <td>M.V.Act 184</td>
                                                <td>Rs. 1000/- for any vehicle.</td>
                    
                    
                                            </tr>
                                        </tbody>
                                        </table>
                                        <br><br>
                    
                                    <table>
                                    <h3>OFFENCES RELATED TO TOWING OF VEHICLES</h3>
                                    
                                        <thead>
                                            <tr>
                                                <th>Offences</th>
                                                <th>Section</th>
                                                <th>Maximum Penality</th>
                                    
                                
                                            </tr>
                                        </thead>
                    
                    
                    
                                        <tbody>
                                                
                                            <tr>
                                                <td>Two wheeler</td>
                                                <td>Sec 41(i) C.P.Act</td>
                                                <td>Rs. 150/-</td>
                                               
                                                
                            
                                 </tr>
                                      
                        
                            
                    
                                                
                                            <tr>
                                                <td>Car, jeep, taxi, Auto, Rickshaw</td>
                                                <td>Sec 41(i) C.P.Act</td>
                                                <td>Rs. 200/-</td>
                                            
                                                
                    
                                        </tr>
                                          
                                            <tr>
                                                <td>Light Motor vehicle</td>
                                                <td>Sec 41(i) C.P.Act</td>
                                                <td>Rs. 300/-</td>
                                            
                                                
                    
                                        </tr>
                                            <tr>
                                                <td>Heavy Motor Vehicles</td>
                                                <td>Sec 41(i) C.P.Act</td>
                                                <td>Rs. 600/-</td>
                                            
                                                
                    
                            </tr>
                                        </tbody>
                                        </table>
                                        <br><br>
                                    
                                    <table>    
                                    <h3>OFFENCE RELATED TO POLLUTION</h3>
                                
                                    <thead>
                                        <tr>
                                            <th>Offences</th>
                                            <th>Section</th>
                                            <th>Maximum Penality</th>
                                
                            
                                        </tr>
                                    </thead>
                                    <tbody>	
                                            
                        
                            
                    
                                        <tr>
                                            <td>Without PUC certificate</td>
                                            <td>Sec 190(i)</td>
                                            <td>Rs. 1000/- for two, three, four & Six wheelers.</td>
                                           
                                            
                        
                            </tr>
                    
                                        <tr>
                                            <td>Violation of Non-Stopping on Police Signal</td>
                                            <td>Sec 177 of M.V.Act</td>
                                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                           
                                            
                        
                            </tr>
                                    </tbody>
                                    </table>
                                    <br><br>
                    
                                    <table>
                                    <h3>OFFENCES RELATED TO MOTOR VEHICLES</h3>
                                        <thead>
                                            <tr>
                                                <th>Offences</th>
                                                <th>Section</th>
                                                <th>Maximum Penality</th>
                                    
                                
                                            </tr>
                                        </thead>
                    
                    
                    
                                        <tbody>	
                                            
                                                    
                                                    
                    
                                            <tr>
                                                <td>Overloading of goods vehicles.</td>
                                                <td>R.422(i)</td>
                                                <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                               
                                                
                            
                                 </tr>
                        
                                            <tr>
                                                <td>Carrying goods in a dangerous or hazardous manner.</td>
                                                <td>R.422(ii)</td>
                                                <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                               
                                                
                            
                                 </tr>
                                        </tbody>
                                        </table>
                                        <br><br>
                        

                                    <table>    
                                    <h3>OFFENCES RELATED TO COMMERCIAL VEHICLES</h3>
                                    <thead>
                                        <tr>
                                            <th>Offences</th>
                                            <th>Section</th>
                                            <th>Maximum Penality</th>
                                
                            
                                        </tr>
                                    </thead>
                    
                    
                    
                                    <tbody>	
                                        <tr>
                                            <td>Playing in “NO ENTRY” Time</td>
                                            <td>Sec 199/177 M.V.Act</td>
                                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                            
                                            
                        
                                </tr>
                    
                                        <tr>
                                            <td>Carrying persons dangerously or carrying persons in goods vehicles</td>
                                            <td>R. 36(vii)/S 177</td>
                                            <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                            
                                            
                        
                                </tr>
                                        <tr>
                                            <td>Overloading of Autos with school children</td>
                                            <td>R 32(iii)/S 177	</td>
                                            <td>Rs. 100 to 200/-    </td>
                                            
                                            
                    
                                </tr>
                                    </tbody>
                                    </table>
                                    <br><br>
                    
                                    <table>
                                    <h3>OFFENCES RELATED TO PARKING</h3>
                                            <thead>
                                                <tr>
                                                    <th>Offences</th>
                                                    <th>Section</th>
                                                    <th>Maximum Penality</th>
                                        
                                    
                                                </tr>
                                            </thead>
                    
                    
                    
                                            <tbody>
                                                <tr>
                                                    <td>Parking of vehicles in such a manner which may pose a risk to other vehicles</td>
                                                    <td>M.V.Act 122, 177	</td>
                                                    <td>Rs. 200/- for two, three, four & Six wheelers.</td>
                                                
                                                    
                                
                                    </tr>
                    
                                                <tr>
                                                    <td>Illegal parking on public road at No Parking Boards	</td>
                                                    <td> M.V.Act 122, 177</td>
                                                    <td>Rs. 1000/- for two, three, four & Six wheelers.</td>
                                                
                                                    
                                
                                    </tr>
                                            </tbody>
                    
                                            </table>
                    





            
        </tbody>
    </table>

</body>
</html>












                    
                    





            
  