
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'traffic/user_login.css'%}">
</head>
<body>
    {% load static %}
    {% include 'traffic/navbar.html' %}
    <br> <br>
    
    <h3>User Login</h3>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{% static 'traffic/photos/user_login.png' %}"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="POST">
            {% csrf_token %}
           
            
            {% if messages %}
              <div class="messages">
              {% for message in messages %}
              <h6 style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6>
              {% endfor %}
              </div>
					  {% endif %}

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" name="vehicle_number" class="form-control form-control-lg"
                placeholder="Enter your vehicle number" />
              <label class="form-label" for="form3Example3"></label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="form3Example4"></label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

            </form>    
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="http://127.0.0.1:8000/challan/register"
                  class="link-danger">Register</a></p>
              <p class="small fw-bold mt-2 pt-1 mb-0">Are you a police? <a href="http://127.0.0.1:8000/challan/police_login"
                  class="link-danger">Police Login</a></p> 
                  
              <p class="small fw-bold mt-2 pt-1 mb-0">Are you admin? <a href="http://127.0.0.1:8000/challan/admin_login"
                class="link-danger">Admin Login</a></p>             
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
  </section>

</body>
</html>